{% trans_default_domain 'messages' %}

{% extends "base.html.twig" %}
{% block title %}{{  'Genealogy New Category'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
{% block header %}
    <div id="category-header"></div>
{% endblock header %}
{% block content %}
    <div id="category-content">
    </div>
{% endblock content %}
{% block sidebar %}
{% endblock sidebar %}
{% block javascripts %}
    {% set translations = {} %}
    {% set translations = translations|merge({Category: 'Category'|trans}) %}
    {% set translations = translations|merge({'New Category': 'New Category'|trans}) %}

    <script>
        window.CATEGORY_PROPS = [];
        window.CATEGORY_PROPS.translations = {{ translations|json_encode|raw }};
        window.CATEGORY_PROPS.form = {{ full_form|json_encode|raw }};
        window.CATEGORY_PROPS.category = {{ manager.categoryProps(form.vars.template)|json_encode|raw }};
        window.CATEGORY_PROPS.addition = true;
    </script>

    {{ encore_entry_script_tags('category') }}
    {{ parent() }}

    {{ parent() }}
{% endblock %}
