{% trans_default_domain 'messages' %}

{% extends "base.html.twig" %}
{% block title %}{{  'Genealogy Modify Category'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
    {% block header %}
        <div id="category-header"></div>
    {% endblock header %}
    {% block content %}
        <div id="category-content"></div>
    {% endblock content %}
{% block sidebar %}
{% endblock sidebar %}
{% block javascripts %}
    {% set translations = {} %}
    {% set translations = translations|merge({Category: 'Category'|trans}) %}
    {% set translations = translations|merge({Categories: 'Categories'|trans}) %}
    {% set translations = translations|merge({IndividualProfiles: 'Individual Profiles'|trans}) %}
    {% set translations = translations|merge({onWikitree: 'onWikitree'|trans}) %}
    {% for name, template in form.vars.template %}
        {% set openName = "template.open." ~ name %}
        {% set translations = translations|merge({(openName): openName|trans}) %}
        {% set openName = "template.close." ~ name %}
        {% set translations = translations|merge({(openName): openName|trans}) %}
        {% set openName = "template.save." ~ name %}
        {% set translations = translations|merge({(openName): openName|trans}) %}
    {% endfor %}
    {% set translations = translations|merge({NoSuggestions: 'No suggestions available.'|trans}) %}
    {% set translations = translations|merge({noParentCategories: 'noParentCategories'|trans}) %}
    {% set translations = translations|merge({closeMessage: 'closeMessage'|trans}) %}
    {% set translations = translations|merge({'Data Save: Success!': 'Data Save: Success!'|trans}) %}
    {% set translations = translations|merge({'subCategories': 'subCategories'|trans}) %}
    {% set translations = translations|merge({'name': 'name'|trans}) %}
    {% set translations = translations|merge({'aka': 'aka'|trans}) %}
    {% set translations = translations|merge({'location': 'location'|trans}) %}
    {% set translations = translations|merge({'Address': 'Address'|trans}) %}
    {% set translations = translations|merge({'alreadyParentCategory': 'alreadyParentCategory'|trans}) %}
    {% set translations = translations|merge({'webpages': 'webpages'|trans}) %}
    {% set translations = translations|merge({'removeExistingItem': 'removeExistingItem'|trans}) %}
    <script>
        window.CATEGORY_PROPS = [];
        window.CATEGORY_PROPS.translations = {{ translations|json_encode|raw }};
        window.CATEGORY_PROPS.form = {{ full_form|json_encode|raw }}
        window.CATEGORY_PROPS.category = {{ manager.categoryProps(form.vars.template)|json_encode|raw }};
    </script>

    {{ encore_entry_script_tags('category') }}
    {{ parent() }}
{% endblock %}
