{% trans_default_domain 'messages' %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Genealogy Project">
        <meta name="keywords" content="Genealogy,gedcom">
        <meta name="author" content="Craig Rayner">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ 'Genealogy Project'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('css/app.css') }}?version=7" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('multiselect-master/styles/multiselect.css') }}?version=8" rel="stylesheet" type="text/css"/>
        {% endblock %}
    </head>
    <body>
    {% block body %}
        <div class="flexbox-container">
            <div class="border"></div>
            <div class="header">
                {% block header %}
                    <h1>Genealogy Base Template (Header)</h1>
                {% endblock header %}
            </div>
            <div class="border"></div>
        </div>
        {% block content %}
        <div class="flexbox-container">
            <div class="border"></div>
                <div class="main">
                {% block main %}
                    <h3>Genealogy Base Template (Main)</h3>
                {% endblock main %}
                </div>
                <div class="sidebar">{% block sidebar %}<h4 class="centre">Genealogy Base Template (Sidebar)</h4>{% endblock sidebar %}</div>
            <div class="border"></div>
        </div>
        {% endblock content %}
    {% endblock body %}
    {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('multiselect-master/multiselect.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
