{% trans_default_domain 'messages' %}

{% extends "base.html.twig" %}

{% block body %}
    <h1 style="text-align: center">{{ 'WikiTree Biography Generator'|trans }}</h1>
    <p class="important" style="text-align: center">
       {{ 'Use the Wikitree ID of the profile for which you are creating a biography.'|trans }}
    </p>
    <hr />
    <div class="left_half">

    <div class="right_half">
        {{ form_start(form) }}
        {% if 'hidden' not in form.wikiTreeUser.vars.block_prefixes %}
        <div class="formElement">
            <div class="formLabel">
                <div class="formWidget">{{ form_widget(form.wikiTreeUser) }}</div>
                <p class="formLabel">{{ form_label(form.wikiTreeUser) }}</p>
                <p class="formHelp">{{ form_help(form.wikiTreeUser) }}</p>
            </div>
        </div>
        <div class="formElement">
            <div class="formLabel">
                <div class="formWidget">{{ form_widget(form.wikiTreePassword) }}</div>
                <p class="formLabel">{{ form_label(form.wikiTreePassword) }}</p>
                <p class="formHelp">{{ form_help(form.wikiTreePassword) }}</p>
            </div>
        </div>
        {% endif %}
        <div class="formElement">
            <div class="formLabel">
                <div class="formWidget">{{ form_widget(form.wikiTreeUserID) }}</div>
                <p class="formLabel">{{ form_label(form.wikiTreeUserID) }}</p>
                <p class="formHelp">{{ form_help(form.wikiTreeUserID) }}</p>
            </div>
        </div>
        <div class="formElement">
            <div class="formLabel">
                <div class="formWidget">{{ form_widget(form.baptismDate) }}</div>
                <p class="formLabel">{{ form_label(form.baptismDate) }}</p>
                <p class="formHelp">{{ form_help(form.baptismDate) }}</p>
            </div>
            <div class="formLabel">
                <div class="formWidget">{{ form_widget(form.baptismLocation) }}</div>
                <p class="formLabel">{{ form_label(form.baptismLocation) }}</p>
                <p class="formHelp">{{ form_help(form.baptismLocation) }}</p>
            </div>
        </div>
        <div class="formElement">
            <div class="formLabel">
                <div class="formWidget">{{ form_widget(form.interredCemetery) }}</div>
                <p class="formLabel">{{ form_label(form.interredCemetery) }}</p>
                <p class="formHelp">{{ form_help(form.interredCemetery) }}</p>
            </div>
            <div class="formLabel">
                <div class="formWidget">{{ form_widget(form.interredLocation) }}</div>
                <p class="formLabel">{{ form_label(form.interredLocation) }}</p>
                <p class="formHelp">{{ form_help(form.interredLocation) }}</p>
            </div>
        </div>
        <div class="formElement" >
            <div style="float: right; margin-right: 80px;"> {{ form_widget(form.congregations) }}</div>
            <div class="formLabel">
                <p class="formLabel">{{ form_label(form.congregations) }}</p>
                <p class="formHelp">{{ form_help(form.congregations) }}</p>
            </div>
        </div>
        <div class="formElement">
            <div style="float: right; margin-right: 80px;"> {{ form_widget(form.locations) }}</div>
            <div class="formLabel">
                <p class="formLabel">{{ form_label(form.locations) }}</p>
                <p class="formHelp">{{ form_help(form.locations) }}</p>
            </div>
        </div>
        <div class="formElement">
            <div class="formLabel">
                <div class="formWidget">{{ form_widget(form.raynerPage) }}</div>
                <p class="formLabel">{{ form_label(form.raynerPage) }}</p>
                <p class="formHelp">{{ form_help(form.raynerPage) }}</p>
            </div>
        </div>
        <div class="formElement">
            <div class="formLabel">

                <div class="formWidget">{{ form_widget(form.submit) }}</div>
                <p class="formLabel">{{ form_label(form.submit) }}</p>
                <p class="formHelp">{{ form_widget(form.reset) }}</p>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

    <p>{{ 'Privacy'|trans }}: {{ result.privacy|default('Not Set'|trans) }}</p>
    <p>{{ "Trusted List Access"|trans }}: {{ result.join|default('Not Set'|trans) }}</p>
    <hr/>
    {% if result.valid is same as true %}
        <div class="copyData">
            {% for category in result.categories %}
                {{ category }}<br />
            {% endfor %}
        <h2>== {{ 'Biography'|trans }} ==</h2>
        {% set name = result.name.given %}
        {% if result.name.additional is not same as('') %}{% set name = name ~ ' ' ~ result.name.additional %}{% endif %}
        {% set name = name ~ ' ' ~ result.name.atBirth %}
        {% set gender = result.gender %}
        {% if gender is same as('') %}{% set gender = 'not_stated' %}{% endif %}
        {% if result.father.ID is not same as('') %}{% set father = '[[' ~ result.father.ID ~ '|' ~ result.father.name ~ ']]' %}{% else %}{% set father = 'birth.unknown.father'|trans %}{% endif %}
        {% if result.mother.ID is not same as('') %}{% set mother = '[[' ~ result.mother.ID ~ '|' ~ result.mother.name ~ ']]' %}{% else %}{% set mother = 'birth.unknown.mother'|trans %}{% endif %}
        <p>{% for template in result.templates %}
                {{ template }}
            {% endfor %}
            {% set gender = 'birth.gender'|trans({gender: gender}) %}
            {% set name = "'''" ~ name ~ "'''" %}
            {{ 'birth.sentence'|trans({'name': name, 'date': result.birth.date, '{gender}': gender, date_status: result.birth.dateStatus, '{location}': result.birth.location, '{father}': father, '{mother}': mother}) }}
{# Baptism Sentance #}
        {% if result.baptism.date is not same as(null) or result.baptism.location is not same as(null) %}
            {{ ' ' ~ 'baptism.sentence'|trans({'name': result.name.preferred, 'date': result.baptism.date, '{location}': result.baptism.location}) }}
        {% endif %}
        </p>
        {% if (result.spouse|length > 0) %}
            {% for spouse in result.spouse %}
                {% if spouse.dateStatus is not same as('full') %}{% set date_string = spouse.source %}{% endif %}
                <p>{{ 'marriage.sentence'|trans({'{preferred}': result.name.preferred,
                        '{spouse}': '[[' ~ spouse.ID ~ '|'~ spouse.name ~ ']]',
                        '{date}': spouse.date,
                        '{location}': spouse.location, 'date_format': spouse.dateStatus }) }}
                    {{ 'marriage.children'|trans({'{count}}': spouse.children|length}) }}</p>
                {% if spouse.children|length > 0 %}
                    <p>
                    {% for child in spouse.children %}
                        # [[{{ child.ID }}|{{ child.name }}]]<br />
                    {% endfor %}
                    </p>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if result.children|length > 0 %}
            <p>
            {% for child in result.children %}
                # [[{{ child.ID }}|{{ child.name }}]]<br />
            {% endfor %}
            </p>
        {% endif %}

        {% if result.death.date is not same as '' %}
            {% set tense = 'on' %}
            {% if result.death.before is same as(true) %}{% set tense = 'before' %}{% endif %}
            {% if result.death.after is same as(true) %}{% set tense = 'after' %}{% endif %}
            {% if result.death.about %}{% set tense = 'about' %}{% endif %}
            {% if tense is same as('on') and result.death.dateStatus is not same as('full') %}{% set tense = 'in' %}{% endif %}
            {% set age = '' %}
            {% if result.age.status %}
                {% set age = 'death.age.years'|trans({count: result.age.y}) ~ ', ' ~ 'death.age.months'|trans({count: result.age.m}) ~ ', ' ~ 'death.age.days'|trans({count: result.age.d}) %}
                {% set age = age|replace({', ,': ','}) %}
                {% set age = 'death.age.display'|trans({age: age|trim(' ,')}) %}
            {% endif %}
            <p>{{ 'death.sentence'|trans({tense: tense, '{preferred}': result.name.preferred, '{date}': result.death.date, '{location}': result.death.location}) }}{{ age }}{% if result.interredSite is not same as('') %}, {{ 'and is interred at'|trans({'{site}': result.interredSite}) }}.</p>{% else %}.</p>{% endif %}
        {% elseif result.death.status %}
            <p>{{ 'death.unknown'|trans({'{name}': result.name.preferred, '{citation}': "{{Citation Needed}}"}) }}</p>
        {% endif %}
        <h2>== {{ 'Sources'|trans }} ==</h2>
        <p>
            {% if result.page|length > 0 %}
           {{ '* [[Space: The Rayner Roots Branches and Twigs 1740 ~ 1987]] by Harold and Frances Atkins. Page ' ~ result.page ~ '.' }}<br />
        {% endif %}
        {{ '&lt;references /&gt;' }}</p>
        </div>
    {% else %}
        {% if result.error is defined %}
            <p style="color: red; font-weight: bold;">{{ result.error|trans }}</p>
        {% endif %}
    {% endif %}
    </div>
{% endblock body %}
        {% block javascripts %}
            {{ parent() }}
            <script>
                document.multiselect('#wikitreebiography_congregations');

                function enable() {
                    document.multiselect('#wikitreebiography_congregations').setIsEnabled(true);
                }

                function disable() {
                    document.multiselect('#wikitreebiography_congregations').setIsEnabled(false);
                }

                document.multiselect('#wikitreebiography_locations');

                function enable() {
                    document.multiselect('#wikitreebiography_locations').setIsEnabled(true);
                }

                function disable() {
                    document.multiselect('#wikitreebiography_locations').setIsEnabled(false);
                }
            </script>
        {% endblock %}
