{% trans_default_domain 'messages' %}

{% extends "base.html.twig" %}

{% set date_format = 'l, jS F Y' %}
{% block body %}
    <h1 style="text-align: center">{{ 'WikiTree Biography Generator'|trans }}</h1>
    <p class="important" style="text-align: center">
       {{ 'Use the Wikitree ID of the profile for which you are creating a biography.'|trans }}
    </p>
    {{ form_start(form) }}
    {% if 'hidden' not in form.wikiTreeUser.vars.block_prefixes %}
    <div class="formElement">
        <div class="formLabel">
            <div class="formWidget">{{ form_widget(form.wikiTreeUser) }}</div>
            <p class="formLabel">{{ form_label(form.wikiTreeUser) }}</p>
            <p class="formHelp">{{ form_help(form.wikiTreeUser) }}</p>
        </div>
    </div>
    <div class="formElement">
        <div class="formLabel">
            <div class="formWidget">{{ form_widget(form.wikiTreePassword) }}</div>
            <p class="formLabel">{{ form_label(form.wikiTreePassword) }}</p>
            <p class="formHelp">{{ form_help(form.wikiTreePassword) }}</p>
        </div>
    </div>
    {% endif %}
    <div class="formElement">
        <div class="formLabel">
            <div class="formWidget">{{ form_widget(form.wikiTreeUserID) }}</div>
            <p class="formLabel">{{ form_label(form.wikiTreeUserID) }}</p>
            <p class="formHelp">{{ form_help(form.wikiTreeUserID) }}</p>
        </div>
    </div>
    <div class="formElement">
        <div class="formLabel">
            <div class="formWidget">{{ form_widget(form.interredSite) }}</div>
            <p class="formLabel">{{ form_label(form.interredSite) }}</p>
            <p class="formHelp">{{ form_help(form.interredSite) }}</p>
        </div>
    </div>
    <div class="formElement">
        <div class="formLabel">
            <div class="formWidget">{{ form_widget(form.submit) }}</div>
            <p class="formLabel">{{ form_label(form.submit) }}</p>
            <p class="formHelp"></p>
        </div>
    </div>

    {{ form_end(form) }}
    <hr style="clear: both" />
    <p>{{ 'Privacy'|trans }}: {{ result.privacy|default('Not Set'|trans) }}</p>
    <p>{{ "Trusted List Access"|trans }}: {{ result.join|default('Not Set'|trans) }}</p>
    <hr/>
    {% if result.valid is same as true %}
        <div class="copyData">
        <h2>== {{ 'Biography'|trans }} ==</h2>
        {% set name = result.name.given %}
        {% if result.name.additional is not same as('') %}{% set name = name ~ ' ' ~ result.name.additional %}{% endif %}
        {% set name = name ~ ' ' ~ result.name.atBirth %}
        {% set gender = result.gender %}
        {% if gender is same as('') %}{% set gender = 'not_stated' %}{% endif %}
        {% if result.father.ID is not same as('') %}{% set father = '[[' ~ result.father.ID ~ '|' ~ result.father.name ~ ']]' %}{% else %}{% set father = 'birth.unknown.father'|trans %}{% endif %}
        {% if result.mother.ID is not same as('') %}{% set mother = '[[' ~ result.mother.ID ~ '|' ~ result.mother.name ~ ']]' %}{% else %}{% set mother = 'birth.unknown.mother'|trans %}{% endif %}
        <p>{{ '{{Australia Sticker|New South Wales}}' }}{{ '{{ Australia Born in Colony|colony=Colony of New South Wales }}' }}</p>
        <p>{{ 'birth.sentence'|trans({'name': name, 'date': result.birth.date|date(date_format), gender: gender, '{location}': result.birth.location, '{father}': father, '{mother}': mother}) }}</p>

        {% if (result.spouse|length > 0) %}
            {% for spouse in result.spouse %}
                <p>{{ 'marriage.sentence'|trans({'{preferred}': result.name.preferred,
                        '{spouse}': '[[' ~ spouse.ID ~ '|'~ spouse.name ~ ']]',
                        '{date}': spouse.date|date(date_format),
                        '{location}': spouse.location }) }}
                    {{ 'marriage.children'|trans({'{count}}': spouse.children|length}) }}</p>
                {% if spouse.children|length > 0 %}
                    <p>
                    {% for child in spouse.children %}
                        # [[{{ child.ID }}|{{ child.name }}]]<br />
                    {% endfor %}
                    </p>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if result.children|length > 0 %}
            {% for child in result.children %}
                <p># [[{{ child.ID }}|{{ child.name }}]]</p>
            {% endfor %}
        {% endif %}

        {% if result.death.date is not same as '' %}
            {% if (result.age.y >= 100) %}
                {{ '{{Centenarian
                |age= ' ~ result.age.y ~ '
                |living= no
                }}' }}
            {% endif %}
            {% set tense = 'on' %}
            {% if result.death.before is same as(true) %}{% set tense = 'before' %}{% endif %}
            {% if result.death.after is same as(true) %}{% set tense = 'after' %}{% endif %}
            {% set age = 'death.age.years'|trans({count: result.age.y}) ~ ', ' ~ 'death.age.months'|trans({count: result.age.m}) ~ ', ' ~ 'death.age.days'|trans({count: result.age.d}) %}
            {% set age = age|replace({', ,': ','}) %}
            {% if tense is not same as('on') %}{% set age = 'death.age.calculation'|trans %}{% else %}{% set age = 'death.age.display'|trans({age: age|trim(' ,')}) %}{% endif %}
            <p>{{ 'death.sentence'|trans({tense: tense, '{preferred}': result.name.preferred, '{date}': result.death.date|date(date_format), '{location}': result.death.location}) }}{{ age }}{% if result.interredSite is not same as('') %}, {{ 'and is interred at'|trans({'{site}': result.interredSite}) }}.</p>{% else %}.</p>{% endif %}
        {% endif %}
        <h2>== {{ 'Sources'|trans }} ==</h2>
        &lt;references /&gt;
        </div>
    {% else %}
        {% if result.error is defined %}
            <p style="color: red; font-weight: bold;">{{ result.error|trans }}</p>
        {% endif %}
    {% endif %}
    {% if result.hints is defined and result.hints is not same as ([]) %}
        <hr/>
        <h3>{{ 'hints.heading'|trans }}</h3>
        <ul>
        {% for name,value in result.hints %}
            <li>{{ ('hints.' ~ name)|trans }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}