{% trans_default_domain 'messages' %}

{% extends "base.html.twig" %}
{% block title %}{{ 'Genealogy Project'|trans }} - {{  'Biography'|trans }}{% endblock %}

{% block body %}
dump(result)
    <h1 style="text-align: center">{{ 'WikiTree Biography Generator'|trans }}</h1>
    <p class="important" style="text-align: center">
       {{ 'Use the Wikitree ID of the profile for which you are creating a biography.'|trans }}
    </p>
    <hr />
    <div class="left_half">
        <div class="right_half">
            {% include 'wikitree/wikitree_form.html.twig' %}
        </div>

    <p>{{ 'Privacy'|trans }}: {{ result.privacy|default('Not Set'|trans) }}</p>
    <p>{{ "Trusted List Access"|trans }}: {{ result.join|default('Not Set'|trans) }}</p>
    <hr/>
        {{ "DO NOT COPY THIS LINE"|trans }}<br />
    {% if result.valid is same as true %}
        <div class="copyData">
            {% for category in result.categories %}
                {{ category }}<br />
            {% endfor %}
        <span class="h1">== {{ 'Biography'|trans }} ==</span><br />
        {% for template in result.templates %}
            {{ template|trim }}
        {% endfor %}
        {% set birth = parseBirthDetails(result) %}
        {% set birth = birth|merge({'gender': 'birth.gender'|trans(birth)}) %}
        {% if birth.father is same as('birth.unknown.father') %}{% set birth = birth|merge({'father': birth.father|trans}) %}{% endif %}
        {% if birth.mother is same as('birth.unknown.mother') %}{% set birth = birth|merge({'mother': birth.mother|trans}) %}{% endif %}

        {{ result.birth.sticker|default('') }}
        {{ 'birth.sentence'|trans(birth) }}
        {# Baptism Sentence #}
        {% if result.baptism.date is not same as(null) or result.baptism.location is not same as(null) %}
            {{ ' ' ~ 'baptism.sentence'|trans({'name': result.name.preferred, 'date': result.baptism.date, '{location}': result.baptism.location}) }}
        {% endif %}
        <br />  <!-- Birth Sentence -->

        {% if (result.spouse|length > 0) %}
            {% for spouse in result.spouse %}
                <br />{{ 'marriage.sentence'|trans(spouse.sentence) }}
                {{ 'marriage.children'|trans({'{count}}': spouse.children|length}) }}<br />
                {% if spouse.children|length > 0 %}
                    {% for child in spouse.children %}
                        # [[{{ child.ID }}|{{ child.name }}]]<br />
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <!-- Marriage Sentence with children -->
        {% endif %}

        {% if result.children|length > 0 %}
            {% for child in result.children %}
                # [[{{ child.ID }}|{{ child.name }}]]<br />
            {% endfor %}
            <!-- Children not linked to marriage -->
        {% endif %}

        {% if result.death.date is not same as '' %}
            {% set result = result|merge({'joiner': form.children.passedAwayJoiner.vars.value|default('in')|trans}) %}
            {% set death = parseDeathDetails(result) %}
            {% set tense = 'on' %}
            {% if result.death.before is same as(true) %}{% set tense = 'before' %}{% endif %}
            {% if result.death.after is same as(true) %}{% set tense = 'after' %}{% endif %}
            {% if result.death.about %}{% set tense = 'about' %}{% endif %}
            {% if tense is same as('on') and result.death.dateStatus is not same as('full') %}{% set tense = 'in' %}{% endif %}
            {% set age = '' %}
            {% if result.age.status %}
                {% set age = 'death.age.years'|trans({count: result.age.y}) ~ ', ' ~ 'death.age.months'|trans({count: result.age.m}) ~ ', ' ~ 'death.age.days'|trans({count: result.age.d}) %}
                {% set age = age|replace({', ,': ', '}) %}
                {% set age = 'death.age.display'|trans({age: age|trim(" ")|trim(',')|trim(' ')}) %}
            {% endif %}

            <br /><span>{{ 'death.sentence'|trans(death) }}{{ age }}{% if result.interredSite is not same as('') %}, {{ 'and is interred at'|trans({'{site}': result.interredSite}) }}.</span><br />{% else %}.</span><br />{% endif %}<!-- Death with internment information -->
        {% elseif result.death.status or result.age.y > 85 %}
            <br />{{ result.death.sticker|default('') }}<span>{{ 'death.unknown'|trans({'{name}': result.name.preferred, '{citation}': "{{Citation Needed}}"}) }}</span><br /> <!-- No death information -->
        {% endif %}
        <span class="h1">== {{ 'Sources'|trans }} ==</span><br />
        {% if result.page|length > 0 %}
        {{ '* [[Space: The Rayner Roots Branches and Twigs 1740 ~ 1987]] by Harold and Frances Atkins. Page ' ~ result.page ~ '.' }}<br />
        {% endif %}
        {{ '&lt;references /&gt;' }}

    {% else %}
        {% if result.error is defined %}
            <p style="color: red; font-weight: bold;">{{ result.error|trans }}</p>
        {% endif %}
    {% endif %}
    </div>
    {% if form.vars.value is not same as null and form.vars.value.profileIdentifier > 0 %}
        {% set location = '' %}
        {% if form.vars.value.marriageLocation|length > 0 %}
            {% set location = form.vars.value.marriageLocation[0] %}
        {% elseif form.vars.value.marriageCongregation|length > 0 %}
            {% set location = manager.getCongregation(form.vars.value.marriageCongregation[0], true) %}
        {% endif %}
        {% set dateString = form.vars.value.marriageDate|date('l, jS F Y') %}
        {{ 'create_marriage_sentence'|trans({'{name}': result.name.preferred, '{location}': location, '{date}': dateString, '{spouse}': form.vars.value.spouseName, '{identifier}': form.vars.value.profileIdentifier}) }}
    {% endif %}
{% endblock body %}
        {% block javascripts %}
            {{ parent() }}
            <script>
                document.multiselect('#wikitreebiography_congregations');

                function enable() {
                    document.multiselect('#wikitreebiography_congregations').setIsEnabled(true);
                }

                function disable() {
                    document.multiselect('#wikitreebiography_congregations').setIsEnabled(false);
                }

                document.multiselect('#wikitreebiography_locations');

                function enable() {
                    document.multiselect('#wikitreebiography_locations').setIsEnabled(true);
                }

                function disable() {
                    document.multiselect('#wikitreebiography_locations').setIsEnabled(false);
                }

                document.multiselect('#wikitreebiography_interredCemetery');

                function enable() {
                    document.multiselect('#wikitreebiography_interredCemetery').setIsEnabled(true);
                }

                function disable() {
                    document.multiselect('#wikitreebiography_interredCemetery').setIsEnabled(false);
                }

                document.multiselect('#wikitreebiography_marriageLocation');

                function enable() {
                    document.multiselect('#wikitreebiography_marriageLocation').setIsEnabled(true);
                }

                function disable() {
                    document.multiselect('#wikitreebiography_marriageLocation').setIsEnabled(false);
                }

                document.multiselect('#wikitreebiography_marriageCongregation');

                function enable() {
                    document.multiselect('#wikitreebiography_marriageCongregation').setIsEnabled(true);
                }

                function disable() {
                    document.multiselect('#wikitreebiography_marriageCongregation').setIsEnabled(false);
                }
            </script>
        {% endblock %}
