{{ form_start(form) }}

</div>
<div class="right_half">
    {% include 'wikitree/login_form.html.twig' %}
    <div class="formElement">
        <div class="formLabel">
            <div class="formWidget">{{ form_widget(form.category) }}</div>
            <p class="formLabel">{{ form_label(form.category) }}</p>
            <p class="formHelp">{{ form_help(form.category) }}</p>
        </div>
    </div>
    <div class="formElement">
        <div class="formLabel">
            <div class="formWidget">{{ form_widget(form.profileList) }}</div>
            <p class="formLabel">{{ form_label(form.profileList) }}</p>
            <p class="formHelp">{{ form_help(form.profileList) }}</p>
        </div>
    </div>
    {{ form_end(form) }}