{% trans_default_domain 'messages' %}

{% extends "base.html.twig" %}
{% block title %}{{ title|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <script>
        window.onload = function(){
            setTimeout(function(){
                window.location.href = "{{ path(route, {'offset': offset, 'letter': letter}) }}";
            },50);
        }
    </script>
{% endblock stylesheets %}
{% block body %}
    <h1 style="text-align: center">{{ title|trans }}</h1>
    <p>File line #: {{ offset }}</p>
    <p>Category: {{ manager.category.name }}. Count: {{ manager.category.individuals|length }}</p>
{% endblock body %}

{% block javascripts %}
   {{ parent() }}
{% endblock %}
