{% trans_default_domain 'messages' %}

{% extends "base.html.twig" %}
{% block title %}{{ title|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <script>
        window.onload = function(){
            setTimeout(function(){
                window.location.href = "{{ path(route, {'offset': offset}) }}";
            }, 200);
        }
    </script>
{% endblock stylesheets %}
{% block body %}
    <h1 style="text-align: center">{{ title|trans }}</h1>
    <p>File line #: {{ offset }}</p>
    <p>Individual (Source ID): {{ manager.individual.sourceId }}</p>
{% endblock body %}

{% block javascripts %}
   {{ parent() }}
{% endblock %}
