{% trans_default_domain 'messages' %}

{% extends "base.html.twig" %}
{% block title %}{{ result.profiles }}:{{ result.pause }} - {{ parent() }} - {{  'Category'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% if result.profiles > 0 and result.daily_count <= max_daily_count %}
        <script>
            window.onload = function(){
                setTimeout(function(){
                    document.getElementById("wikitree_remove_category").submit();
                }, {{ result.wait }});
            }
        </script>
    {% endif %}
{% endblock stylesheets %}
{% block body %}
    <h1 style="text-align: center">{{ 'WikiTree Category Management'|trans }}</h1>
    <p class="important" style="text-align: center">
       {{ 'List of profiles to work on and the category to remove from the profile.'|trans }}
    </p>
    <hr />

    <p>{{ 'category_count'|trans({count: result.categories}) }}</p>

    <p>{{ 'profile_count'|trans({count: result.profiles}) }}</p>

    <!--
    <p>{{ 'category removed from profile'|trans({"{category}": result.category, "{profile}": result.profile, "{count}": result.profiles, "{pause}": (result.wait / 1000)})|raw }}</p>

    <p>{{ 'category sentence'|trans }}</p> -->

    <p style="font-weight: bold">{{ 'category to remove from profile:'|trans({"count": manager.profilesInCategory}) }}</p>

    <h3 style="color: blue">{{ manager.buildCategory }} <a target="_blank" href="https://www.wikitree.com/wiki/Category:{{ result.category }}">{{ "link"|trans }}</a></h3>

    <p>{{ 'Link to next profile'|trans }} <a href="https://www.wikitree.com/index.php?action=edit&title={{ manager.firstProfile }}#bio" target="_blank">{{ manager.firstProfile }}</a></p>

    {% if manager.error is not same as("") %}
    <p style="color: darkred">{{ manager.error }}</p>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form.submit) }}

    {% include 'wikitree/login_form.html.twig' %}
    {{ form_end(form) }}

    {% if result.pause is same as (0)%}
        <p style="font-weight: bold">{{ 'Paused'|trans }} {{ result.wait }}</p>
    {% else %}
        <p>{{ result.pause }}</p>
    {% endif %}

    <p>{{ 'Daily Quota Remaining'|trans({'count': (max_daily_count - result.daily_count)}) }}</p>
    {% if result.daily_count > max_daily_count %}
        <p>{{ 'You have exceed the daily quota of allowed category changes on this system'|trans }}</p>
    {% endif %}

    <p><a href="{{ url('wikitree_add_category') }}">{{ 'add to the category profiles waiting to be loaded.'|trans }}</a></p>

{% endblock body %}

{% block javascripts %}
   {{ parent() }}
{% endblock %}
