{% use 'form_div_layout.html.twig' %}

{# Row Stuff #}
{%- block form_row -%}
    {% set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' form_element')|trim}) %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}<br />
        {%- if errors|length > 0 -%}
            {{- form_errors(form) -}}<br />
        {%- endif -%}
        {{- form_widget(form, widget_attr) -}}<br />
        {{- form_help(form) -}}
    </div>
{%- endblock form_row -%}

{%- block button_row -%}
    {% set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' form_element')|trim}) %}
    {{- parent() -}}
{%- endblock button_row -%}

{# label Stuff #}
{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' form_label')|trim}) %}
        {{- parent() -}}
    {%- endif -%}
{%- endblock form_label -%}